.login
  / Login
  #l-login.login__block.toggled
    .login__block__header
      %i.zmdi.zmdi-account-circle
      Hi there! Please fill form
    .login__block__body
      = form_for(@user) do |f|
        .form-group.form-group--float.form-group--centered.form-group--centered
          = f.text_field :first_name, class: 'form-control', required: true
          = f.label "First Name"
          %i.form-group__bar
        .form-group.form-group--float.form-group--centered.form-group--centered
          = f.text_field :last_name, class: 'form-control', required: true
          = f.label "Last Name"
          %i.form-group__bar
        .form-group.form-group--float.form-group--centered.form-group--centered
          = f.email_field :email, class: 'form-control', required: true
          = f.label "Email"
          %i.form-group__bar
        = f.button "Login".html_safe, type: "submit", class: "btn btn-default btn-primary btn--icon-text"
