!!!
%html{:lang => "en"}
  /[if IE 9 ] <html class="ie9">
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Web Chat
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'loader'
  %body
    = render "/shared/loader"
    %section#main
      %section#content
        .content--boxed
          = render "/shared/header"
          = yield
          = render "/shared/footer"
    = javascript_include_tag 'application'
    = render "/shared/action_cable"